@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital,wght@0,400;1,300&family=Zen+Kurenaido&display=swap');

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: #98c0eb;
  color: rgb(109, 107, 107);
  font-family: 'Roboto', sans-serif;
}
